<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Доступ запрещен</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 class="header center red-text">У Вас отсутствуют права доступа для выполнения данной операции!
                Для получения прав просим обратиться к системному администратору!</h3>
        </div>
    </div>

</div>

</body>
</html>