<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="header center red-text">Запрашиваемая Вами страница не найдена. Попробуйте совершить другой запрос!</h2>
        </div>
    </div>
    <div class="row center">
        <div class="col s12">
            <a href="/" class="waves-effect waves-light btn-large red">Вернуться на главную страницу</a>
        </div>
    </div>
</div>

</body>
</html>